<div class="container px-0">
    <nav class="navbar navbar-expand-lg bg-body-tertiary border">
        <div class="container-fluid d-flex justify-content-between">
            <a href="javascript:void(0)" (click)="goBack()" class="back me-3"><i
                    class='bx bx-left-arrow-alt  fs-3'></i></a>
            <a class="navbar-brand d-flex justify-content-center align-items-center" type="button"
                data-bs-toggle="dropdown" style="cursor: pointer;"><i class='bx bx-dots-vertical-rounded fs-3 '></i></a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" (click)="open(color)"><i class='bx bxs-brush fs-5'></i>&nbsp; Change Color</a>
                </li>
                <li><a class="dropdown-item" (click)="open(content)"><i class='bx bxs-trash fs-5'
                            style="color: red;"></i>&nbsp; Delete Note</a>
                </li>
            </ul>
        </div>
    </nav>
    <div [ngStyle]="{ 'background-color': note.color  }">
        <div>
            <ul class="picker">
                <li *ngFor="let color of colors">
                    <div *ngIf="color" class="pick" [ngStyle]="{ 'background-color': color }" (click)="pickColor(color)" ></div>
                </li>
            </ul> 
        </div>
        <form class="body form p-3 d-flex flex-column align-items-center justify-content-start"
            (ngSubmit)="note.desc&&note.desc.length?addNote():updateNote()">
            <input id="title" type="text" class="mb-3" name="title" placeholder="Title" [(ngModel)]="note.title">
            <textarea id="desc" type="text" class="mb-3" name="content" placeholder="Description"
                [(ngModel)]="note.content" style="resize: none;"></textarea>
            <button type="submit" class="btn add shadow"><i class='bx bx-check fs-2'></i></button>
        </form>

    </div>

</div>
<ng-template #content let-modal>
    <div class="modal-body p-4 text-center">
        <div class="text-center"><i class="bx bxs-trash text-center fs-1 mb-3"></i></div>
        <h3>Delete the Note?</h3>
        <p>This operation cannot be undone</p>
        <div class="d-flex flex-column">
            <button class="btn btn-dark mb-2" (click)="delete()">Delete</button>
            <button class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #color let-modal>
    <div class="modal-body p-4 text-center">
        <div class="text-center"><i class="bx bxs-brush text-center fs-1 mb-3"></i></div>
        <h3>Pick a color</h3>

        <!-- <select class="form-select my-3" aria-label="color" name="color" [(ngModel)]="note.color">
            <option *ngFor="let color of colors" [ngStyle]="{ 'background-color': color }" value="{{color}}">
                {{color}}
            </option>
        </select> -->
        <div class="d-flex justify-content-around">
            <button class="btn btn-dark mb-2" (click)="updateNote()">Change</button>
            <button class="btn btn-outline-dark mb-2" (click)="modal.dismiss()">Cancel</button>
        </div>

    </div>
</ng-template>