.container {
  width: 430px;
  height: 100%;
  background-color: white;
}
.body {
  position: relative;
  height: calc(100vh - 50px);
  display: flex;
  align-items: start;
  justify-content: center;
}
.add {
  border-radius: 15px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 100, 100);
  color: white;
  position: fixed;
  bottom: 30px;
  right: 520px;
  border: none;
}
.add:hover,
.add:focus {
  background-color: rgb(50, 50, 50);
  color: white;
  box-shadow: none;
}
#title {
  background: transparent;
  border: none;
  width: 350px;
  border-bottom: 1px solid rgb(100, 100, 100);
}
#title {
  font-weight: bold;
  font-size: 25px;
}
#desc {
  height: 500px;
  background: transparent;
  border: none;
  width: 350px;
}
#title,
#desc:focus {
  outline: none;
}
