.container {
  width: 430px;
  height: 100vh;
  background-color: white;
}
.body {
  position: relative;
  height: calc(100vh - 58px);
  display: flex;
  align-items: start;
  justify-content: center;
}
.add {
  border-radius: 15px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33,37,41);
  color: white;
  position: fixed;
  bottom: 30px;
  margin-left: 330px;
  border: none;
  padding: 20px;
}
.add:hover,
.add:focus {
  background-color:  rgb(100, 100, 100);
  color: white;
  box-shadow: none;
}
.back {
  text-decoration: none;
  color: black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
}
.back:hover {
  background-color: rgb(230, 230, 230);
}
#title {
  background: transparent;
  border: none;
  width: 350px;
  border-bottom: 1px solid rgb(100, 100, 100);
  font-weight: bold;
  font-size: 25px;
}
#desc {
  height: 500px;
  background: transparent;
  border: none;
  width: 350px;
}
#title,
#desc:focus {
  outline: none;
}

.dropdown-item{
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: larger;
}
.dropdown-menu,#color{
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pick{
  border-radius: 999px;
  width: 30px;
  height: 30px;
  border: none;
  margin: 5px;
  cursor: pointer;
  border: 1px solid rgba(150, 150, 150, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pick-img{
  border-radius: 10px;
  width: 100px;
  height: 50px;
  border: none;
  margin: 5px;
  cursor: pointer;
  border: 1px solid rgba(150, 150, 150, 0.7);
}
.picker{
  background-color: transparent;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  overflow-x: scroll;
  object-fit:contain;
}

.picker::-webkit-scrollbar {
  display: none;
}