<div class="container px-0">
    <nav class="navbar navbar-expand-lg bg-body-tertiary border">
        <div class="container-fluid d-flex justify-content-between">
            <a href="javascript:void(0)" (click)="goBack()" class="back me-3"><i
                    class='bx bx-left-arrow-alt  fs-3'></i></a>
            <div class="back" (click)="open(content)"><i class='bx bxs-trash fs-5'></i></div>
        </div>
    </nav>
    <div [ngStyle]="{
        'background': !note.color ? 'url(' + note.image + ')' : note.color
    }">
        <div>
            <ul class="picker justify-content-center">
                <li *ngFor="let color of colors">
                    <div class="pick" [ngStyle]="{ 'background-color': color }" (click)="pickColor(color)"><i
                            *ngIf="note.color==color" class='bx bx-check fs-3 text-secondary'></i></div>
                </li>
            </ul>
            <ul class="picker px-3">
                <li *ngFor="let i of [1, 2, 3, 4, 5, 6]">
                    <div class="pick-img"
                        [ngStyle]="{ 'background': 'url(./assets/images/backgrounds/' + i + '.jpg) center/cover'}"
                        (click)="pickImage(i)"></div>
                </li>
            </ul>
        </div>
        <form class="body form p-3 d-flex flex-column align-items-center justify-content-start"
            (ngSubmit)="noteId?updateNote():addNote()">
            <input id="title" type="text" class="mb-3" name="title" placeholder="Title" [(ngModel)]="note.title">
            <textarea id="desc" type="text" class="mb-3" name="content" placeholder="Description"
                [(ngModel)]="note.content" style="resize: none;"></textarea>
            <button type="submit" class="btn add shadow"><i class='bx bx-check fs-2'></i></button>
        </form>

    </div>

</div>
<ng-template #content let-modal>
    <div class="modal-body p-4 text-center">
        <div class="text-center"><i class="bx bxs-trash text-center fs-1 mb-3"></i></div>
        <h3>Delete the Note?</h3>
        <p>This operation cannot be undone</p>
        <div class="d-flex flex-column">
            <button class="btn btn-dark mb-2" (click)="delete()">Delete</button>
            <button class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
        </div>
    </div>
</ng-template>